@use '/src/styles/variables' as v;

.Activities {
  min-height: 100dvh;
  width: 80%;

  &-grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: v.$tablet) {
  .Activities {
    &-grid {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }
  }
  @media (max-width: v.$mobile) {
    .Activities {
      &-grid {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
      }
    }
  }
}
