@use '/src/styles/variables' as v;

.Accordion {
  align-items: center;
  display: flex;
  border: solid 1px v.$secondaryColor;
  border-radius: calc(v.$borderRadius / 2);
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 1rem;
  text-align: start;
  width: 100%;

  &-question {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    &-title {
      font-weight: 600;
    }

    &-icon {
      font-size: 1rem;
    }
  }

  &-answer {
    max-height: 0;
    overflow: hidden;
    font-size: v.$textSize;
    font-weight: 400;
    transition: all 0.5s cubic-bezier(0, 1, 0, 1);

    &.show {
      height: auto;
      max-height: 9999px;
      transition: all 0.5s cubic-bezier(1, 0, 1, 0);
    }
  }
}
